apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: loki-uid
    access: proxy
    url: http://loki:{{ loki_port }}
    isDefault: true
    version: 1
    editable: true
    jsonData:
      maxLines: 1000
