apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus-uid
    access: proxy
    url: http://prometheus:{{ prometheus_port }}
    isDefault: false
    version: 1
    editable: true
    jsonData:
      httpMethod: POST
      prometheusType: Prometheus
